@model PostexS.Models.ViewModel.ChangePasswordVm
@{
    ViewBag.Title = "تغيير كلمه السر";
    var user = ViewBag.user as PostexS.Models.Domain.ApplicationUser;
}
<div class="row">
    <!-- left column -->
    <div class="col-md-12">
        <!-- general form elements -->
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title"><i class="fa fa-lock"></i> تغير كلمة المرور لــ @user.Name</h3>
            </div>
            <!-- /.box-header -->
            @using (Html.BeginForm("ChangePassword", "Users", FormMethod.Post))
            {
                <input hidden name="UserId" value="@Model.UserId" />
                <input hidden name="q" id="q" value="@ViewBag.q" />
                <div class="box-body">
                    <div class="form-group">
                        <label for="Password" class="required">كلمه السر الجديدة</label>
                        @Html.TextBoxFor(w => w.Password, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(w => w.Password, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <label for="ConfirmPassword" class="required">تأكيد كلمه السر</label>
                        @Html.TextBoxFor(w => w.ConfirmPassword, new { @class = "form-control", type = "password" })
                        @Html.ValidationMessageFor(w => w.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">حفظ</button>
                </div>
            }

            <div style="margin:10px">
                <a class="btn btn-default" href="@Url.Action("index", "Users",new {q=@ViewBag.q })">العودة</a>
                <br />
                <br />
            </div>
        </div>

    </div>
</div>

